NEXT_PUBLIC_API_HOST=explorer.roko.network
NEXT_PUBLIC_API_PROTOCOL=https
NEXT_PUBLIC_NETWORK_NAME=ROKO Mainnet-Configured Test
NEXT_PUBLIC_NETWORK_SHORT_NAME=Roko
NEXT_PUBLIC_NETWORK_ID=52370
NEXT_PUBLIC_NETWORK_CURRENCY_NAME=ROKO
NEXT_PUBLIC_NETWORK_CURRENCY_SYMBOL=ROKO
NEXT_PUBLIC_NETWORK_CURRENCY_DECIMALS=18
NEXT_PUBLIC_API_BASE_PATH=/
NEXT_PUBLIC_APP_HOST=explorer.roko.network
NEXT_PUBLIC_APP_PROTOCOL=https
NEXT_PUBLIC_HOMEPAGE_CHARTS=[]
NEXT_PUBLIC_IS_TESTNET=true
NEXT_PUBLIC_API_WEBSOCKET_PROTOCOL=wss
NEXT_PUBLIC_NETWORK_RPC_URL=https://explorer.roko.network/api/eth-rpc
NEXT_PUBLIC_NETWORK_VERIFICATION_TYPE=validation
NEXT_PUBLIC_MARKETPLACE_ENABLED=false
NEXT_PUBLIC_OG_ENHANCED_DATA_ENABLED=true
NEXT_PUBLIC_COLOR_THEME_DEFAULT=light
NEXT_PUBLIC_NETWORK_LOGO=https://roko.network/favicon-roko.png
NEXT_PUBLIC_NETWORK_ICON=https://roko.network/favicon-roko.png
NEXT_PUBLIC_PROMOTE_BLOCKSCOUT_IN_TITLE=false
NEXT_PUBLIC_FONT_FAMILY_HEADING={"name":"Rajdhani","url":"https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap"}
NEXT_PUBLIC_COLOR_THEME_OVERRIDES={"hover":{"_light":{"value":"rgba(0,120,212,1)"},"_dark":{"value":"rgba(0,120,212,1)"}},"selected":{"control":{"text":{"_light":{"value":"rgba(0,86,151,1)"},"_dark":{"value":"rgba(247,250,252,1)"}},"bg":{"_light":{"value":"rgba(0,120,212,0.08)"},"_dark":{"value":"rgba(255,255,255,0.06)"}}},"option":{"bg":{"_light":{"value":"rgba(0,120,212,1)"},"_dark":{"value":"rgba(0,120,212,1)"}}}},"button":{"primary":{"_light":{"value":"rgba(0,120,212,1)"},"_dark":{"value":"rgba(0,120,212,1)"},"text":{"_light":{"value":"rgba(255,255,255,1)"},"_dark":{"value":"rgba(255,255,255,1)"}}}},"link":{"primary":{"_light":{"value":"rgba(0,120,212,1)"},"_dark":{"value":"rgba(99,179,237,1)"}}}}
NEXT_PUBLIC_AD_BANNER_PROVIDER=none
NEXT_PUBLIC_AD_TEXT_PROVIDER=none
NEXT_PUBLIC_IS_ACCOUNT_SUPPORTED=false
